{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% include 'welcome/scripts.html'%}



<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="{% url 'index' %}">Studdy Buddy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'rooms' %}">Chat</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="d-flex m-0" style="white-space:normal">
                <button id="profile_button" class="btn btn-success rounded-0">{{ user.username|upper|slice:":1" }}</button>
            </div>
            {% else %}
                <a class="btn btn-primary" href="{% provider_login_url 'google' %}" role="button">Login with Google</a>
            {% endif %}
        </div>
    </div>
</nav>

<script type="text/javascript">
    document.getElementById("profile_button").onclick = function () {
        location.href = "{% url 'profile' %}";
    };
</script>
