{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% include 'welcome/base.html' %}

<div class="m-3">
    <h1 class="text-center">Edit Classes</h1>

    <form action="{% url 'delete' %}" method="post">
        {% csrf_token %}
        {% if user.userclasses_set.all %}
        {% for class in user.userclasses_set.all %}

        <div class="d-flex flex-column align-items-center">
            <div class="form-check p-0">
                <div class="btn-group">
                    <input type="radio" class="btn-check" name="class" id="class {{ forloop.counter }}"
                        value="{{ class.id }}">
                    <label class="btn btn-outline-primary text-center" for="class {{ forloop.counter }}">
                        {{ class }}
                    </label>
                </div>
            </div>
            {% endfor %}
            <input type="submit" value="Remove Class">
        </div>
        {% endif %}
    </form>
    <!-- Add Form here to add classes -->
    <form action="{% url 'profile' %}" method="post"></form>
    {% csrf_token %}
    {% for class in class_list %}
                                    <!-- Basic proof of concept. Takes a list of lists called class_list passed in edit_classes view -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            {{ class|join:" " }}    <!-- And prints out all classes next to checkboxes with elements separated by " " -->
        </label>
    </div> 
    {% endfor %}
    </form>
</div>