<!doctype html>
{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% include 'welcome/base.html' %}
<body>
<div class="m-3">
    <h1 class="text-center">Edit Classes</h1>

    <div class="container">
    <form action="{% url 'delete' %}" method="post">
        {% csrf_token %}
        {% if user.userclasses_set.all %}
        {% for class in user.userclasses_set.all %}
            <div class="form-check p-0">
                <div class="btn-group">
                    <input class="form-check-input" name="class_to_delete" type="checkbox" id="class {{ forloop.counter }}"
                        value="{{ class.id }}">
                    <label for="class {{ forloop.counter }}">
                        {{ class }}
                    </label>
                </div>
            {% endfor %}
            <br>
            <input type="submit" value="Remove Class">
        </div>
        {% endif %}
    </form>
    </div>
    <br>
    <!-- Add Form here to add classes -->
    <div class="container">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <ul class="list-group" id="myList">
        {% for dept in dept_list %}
           <li class="list-group-item"><a href="{% url 'class_view' dept.subject %}">{{ dept.subject }}</a></li>
        {% endfor %}
        </ul>
        </div>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myList li").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
</div>
</body>