{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}
{% load custom_tags %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% include 'welcome/base.html' %}

<form action="{% url 'update' %}" method="post">
    {% csrf_token %}
    <body style="background-color:#f8f4fc;">
        {% if user.is_authenticated %}
        <div class="container-fluid m-3">
            <div class="row" data-masonry='{"percentPosition": true}'>
                <div class="col-md-3 m-2 bg-white rounded">
                    <h3 class="text-center m-2">Current Classes:</h3>
                    <div class="text-center">
                        <a href="{% url 'classes' %}">Edit Classes</a>
                    </div>
                    {% if user.userclasses_set.all %}
                    <ul class="p-2">
                        <table class="table">
                            <thead>
                                <td>Class</td>
                                <td>Availabile?</td>
                            </thead>
                            <tbody>
                                {% for class in user.userclasses_set.all %}
                                <tr>
                                    <td>
                                        {{ class }}
                                    </td>
                                    <td>
                                        {% if class.available %}
                                            <input type="checkbox" name="class_to_update" value="{{ class.id }}" checked>
                                        {% else %}
                                            <input type="checkbox" name="class_to_update" value="{{ class.id }}">
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <input type="submit" value="Update Availibility">
                        {% else %}
                        <p class="text-center p-1">You have no classes added to your profile.</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 m-2 bg-white rounded">
                        <h3 class="text-center m-2">Find Study Buddies</h3>
                        
                        {% if user.classes.all %}
                            <ul class="nav nav-tabs" id="myTab" role="tablist">

                                {% for class in user.classes.all %}
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="{{ class.Name }}-tab" data-bs-toggle="tab" data-bs-target="#{{ class.Name }}" type="button" role="tab" aria-controls="{{ class.Name }}" aria-selected="false">{{ class.Name }}</button>
                                        </li>
                                {% endfor %}
                                    
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                {% for class in user.classes.all %}
                                        <div class="tab-pane fade" id="{{ class.Name }}" role="tabpanel" aria-labelledby="{{ class.Name }}-tab"> 
                                            {% if class.students.all|all_but_user:user %}
                                                {% for student in class.students.all|all_but_user:user %}
                                                    <div class=" border-bottom border-dark clearfix">
                                                        <a href="{% url 'viewuser' student.id %}">
                                                            <h5 class="float-start p-2" >{{ student.first_name }} {{ student.last_name }}</h5>
                                                        </a>
                                                        
                                                        <div class="float-end p-2"><button class="btn btn-success">Send Friend Request</button></div>

                                                        
                                                    </div>
                            
                                                    <br>
                                                {% endfor %}
                                            {% else %}
                                                <p class="text-center p-1">There are no other students currently available to study for this class :(</p>
                                            {% endif %}
                                        </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p class="text-center p-1">You are not currently available for any classes</p>
                        {% endif %}
                    </div>
                    <div class="col-md-2 m-2 bg-white rounded">
                    </div>
                </div>
            </div>
            {% endif %}
        </body>