{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}
{% load custom_tags %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% include 'welcome/base.html' %}


<body style="background-color:#f8f4fc;">
    {% if user.is_authenticated %}
    <div class="container-fullwidth m-2">
        <div class="row" data-masonry='{"percentPosition": true}'>
            <div class="col-md-3">
                <div class="col-md-12 p-2 bg-white rounded">
                    <form action="{% url 'update' %}" method="post">
                        {% csrf_token %}
                        <h3 class="text-center m-2">Current Classes:</h3>
                        <div class="text-center">
                            <a href="{% url 'classes' %}">Edit Classes</a>
                        </div>
                        {% if user.userclasses_set.all %}
                        <ul class="p-2">
                            <table class="table">
                                <thead>
                                    <td>Class</td>
                                    <td>Availabile?</td>
                                </thead>
                                <tbody>
                                    {% for class in user.userclasses_set.all %}
                                    <tr>
                                        <td>
                                            {{ class }}
                                        </td>
                                        <td>
                                            {% if class.available %}
                                            <input type="checkbox" name="class_to_update" value="{{ class.id }}" checked>
                                            {% else %}
                                            <input type="checkbox" name="class_to_update" value="{{ class.id }}">
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <input type="submit" value="Update Availibility">
                            {% else %}
                            <p class="text-center p-1">You have no classes added to your profile.</p>
                            {% endif %}
                        </form>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="col-md-12 p-2 bg-white rounded">
                        <h3 class="text-center m-2">Find Study Buddies</h3>
                        
                        {% if user.classes.all %}
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            
                            {% for class in user.classes.all %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="{{ class.Name }}-tab" data-bs-toggle="tab" data-bs-target="#{{ class.Name }}" type="button" role="tab" aria-controls="{{ class.Name }}" aria-selected="false">{{ class.Name }}</button>
                            </li>
                            {% endfor %}
                            
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            {% for class in user.classes.all %}
                            <div class="tab-pane fade" id="{{ class.Name }}" role="tabpanel" aria-labelledby="{{ class.Name }}-tab"> 
                                {% if class.students.all|all_but_user:user %}
                                {% for student in class.students.all|all_but_user:user %}
                                <div class=" border-bottom border-dark clearfix">
                                    <a href="{% url 'viewuser' student.id %}">
                                        <h5 class="float-start p-2" >{{ student.first_name }} {{ student.last_name }}</h5>
                                    </a>
                                    <p>{{ friends_for_user.all }}</p>
                                    {% for friend in friends_for_user.all %}
                                        {% if friend in friends_for_user.all %}
                                            <div class="float-end p-2"><a href="{% url 'newmeeting' student.id %}" class="btn btn-success" disabled="true">Schedule Meeting</a></div>
                                        {% else %}
                                        <div id="send_friend_request"class="float-end p-2"><a href="{% url 'send friend request' student.id %}" class="btn btn-success" value="enter">Send Friend Request</a></div>
                                            {% if send_friend_request.clicked %}
                                                <div class="float-end p-2 disabled"><a href="{% url 'send friend request' student.id %}" class="btn btn-success" value="enter">Pending</a></div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    
                                </div>
                                
                                <br>
                                {% endfor %}
                                {% else %}
                                <p class="text-center p-1">There are no other students currently available to study for this class :(</p>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <p class="text-center p-1">You have no classes added to your profile.</p>
                        {% endif %}
                    </div>
                </div>
                
                
                <div class="col-md-3">
                    
                    <div class="col-md-12 p-2 bg-white rounded">
                        <h3 class="text-center m-2">Upcoming Meetings</h3>
                        {% if meetings %}
                            {% for meeting in meetings %}
                                <h5 class="p-1 m-0">{{meeting.title}}</h5>
                                <p class="p-1 m-0">{{meeting.date}} @ {{meeting.time}}</p>
                                {%for participant in meeting.participants|all_but_user:user %}
                                    <p class="p-1"> With: 
                                        <a href="{% url 'viewuser' participant.id %}">
                                            {{participant.first_name}} {{ participant.last_name }}
                                        </a>
                                    </p>
                                
                                {%endfor%}
                            {%endfor%}
                        {% else %}
                        <p class="text-center p-1">You currently have no upcoming meetings</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
    </body>
    
    <!-- <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name = "viewpoint" content="width = device-width, initial-scale = 1.0">
            <title>Document</title>
            {%load static%}
            <link rel = "stylesheet" href ="{% static 'page.css'%}">
        </head>
        <body>
            <h2 class = "page">Welcome to Study Buddy Finder App</h2>
        </body>
        </html> -->
        
        