{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}
{% load custom_tags %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% include 'welcome/base.html' %}
<body style=" background-color:#159ec8c2;">
    
    <div class="d-flex justify-content-center" >
        <div class="bg-light d-flex justify-content-center" style="height: 750px; width: 850;">
            <div class="bg-light" style="height: 450px; width: 700;">
                <div class="border-bottom border-dark"><h1>{{ user.first_name }} {{user.last_name }}</h1></div>
                <br>
                
                <div class="text-center" style=" background-color:#ececec;" >
                    <h3>Bio:</h3>
                    Nothing here yet ¯\_(ツ)_/¯
                </div>
                <br><br>
                <h3 class="text-center">Availablility:</h3>
                <div class="container text-center">
                    <div class="row gx-0 gy-0">
                        <div class="col-md-2" style="height: 345px; width: 75">
                            <div class="text-end" style="height: 20px; width: 0"></div>
                            <div class="text-end" style="height: 24px; width: 0">10:00AM</div>
                            <div class="text-end" style="height: 24px; width: 0">10:00AM</div>
                            <div class="text-end" style="height: 24px; width: 0">12:00PM</div>
                            <div class="pull-end" style="height: 24px; width: 0">1:00PM</div>
                            <div class="pull-right" style="height: 24px; width: 0">2:00PM</div>
                            <div class="text-center" style="height: 24px; width: 0">3:00PM</div>
                            <div class="text-end" style="height: 24px; width: 0">4:00PM</div>
                            <div class="text-end" style="height: 24px; width: 0">5:00PM</div>
                            <div class="text-end" style="height: 24px; width: 0">6:00PM</div>
                            <div class="text-end" style="height: 24px; width: 0">7:00PM</div>
                            <div class="text-end" style="height: 24px; width: 0">8:00PM</div>
                            <div class="text-end" style="height: 24px; width: 0">9:00PM</div>
                            <div class="text-end" style="height: 24px; width: 0">10:00PM</div>
                        </div>
                        <div class = "col-lg">
                            <div class ="row gx-0 gy-0">
                                <h5 class="col-sm">Mon.</h5>
                                <h5 class="col-sm">Tues.</h5>
                                <h5 class="col-sm">Wed.</h5>
                                <h5 class="col-sm">Thur.</h5>
                                <h5 class="col-sm">Fri.</h5>
                                <h5 class="col-sm">Sat.</h5>
                                <h5 class="col-sm">Sun.</h5>
                            </div>
                            <div class="row gx-0 gy-0">
                                {% for day in user.day_set.all %}
                                    <div class="col-sm">
                                        {% for time in day.time_set.all %}
                                            {% if time.available %}
                                                <div class="bg-primary border-primary" style="height: 24px; width: 75"></div>
                                            {% else %}
                                                <div class="border border-primary" style="height: 24px; width: 75"></div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


