{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% include 'welcome/base.html' %}

<body>
    <div class="m-3">

        <h1 class="text-center">Edit Profile</h1>

        {{ user.classes.classes }}

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p>Classes:</p>
                {% if user.userclasses_set.all %}
                <ul class="p-2">
                    {% for class in user.userclasses_set.all %}
                    <li class="list-group-item list-group-item-dark">
                        <div class="text-center">
                            {{ class }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>You have no classes added to your profile.</p>
                {% endif %}

                <a href="{% url 'classes' %}">Edit Classes</a>
                <br>
                <br>
                <p>Availability:</p>
                <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <h3>Monday</h3>

                        <input type="checkbox" class="btn-check" id="18am" autocomplete="off" checked>
                        <label class="btn btn-outline-primary rounded-0" for="18am"><div style="height: 15px; width: 50"></div></label> <br>
                        <input type="checkbox" class="btn-check" id="19am" autocomplete="off">
                        <label class="btn btn-outline-primary" for="19am">9:00AM</label><br>
                        <input type="checkbox" class="btn-check" id="110am" autocomplete="off">
                        <label class="btn btn-outline-primary" for="110am">10:00AM</label><br>
                        <input type="checkbox" class="btn-check" id="111am" autocomplete="off">
                        <label class="btn btn-outline-primary" for="111am">11:00AM</label><br>
                        <input type="checkbox" class="btn-check" id="112pm" autocomplete="off">
                        <label class="btn btn-outline-primary" for="112pm">12:00PM</label><br>
                        <input type="checkbox" class="btn-check" id="11pm" autocomplete="off">
                        <label class="btn btn-outline-primary" for="11pm">1:00PM</label><br>
                        <input type="checkbox" class="btn-check" id="12pm" autocomplete="off">
                        <label class="btn btn-outline-primary" for="12pm">2:00PM</label><br>
                        <input type="checkbox" class="btn-check" id="13pm" autocomplete="off">
                        <label class="btn btn-outline-primary" for="13pm">3:00PM</label><br>

                      </div>
                      <div class="col-sm">
                        <h3>Tuesday</h3>
                        <input type="checkbox" class="btn-check" id="28am" autocomplete="off">
                        <label class="btn btn-outline-primary" for="28am">8:00AM</label><br>
                        <input type="checkbox" class="btn-check" id="29am" autocomplete="off">
                        <label class="btn btn-outline-primary" for="29am">9:00AM</label><br>
                      </div>
                      <div class="col-sm">
                        <h3>Wednesday</h3>
                        <input type="checkbox" class="btn-check" id="38am" autocomplete="off">
                        <label class="btn btn-outline-primary" for="38am">8:00AM</label><br>
                        <input type="checkbox" class="btn-check" id="39am" autocomplete="off">
                        <label class="btn btn-outline-primary" for="39am">9:00AM</label><br>
                      </div>
                    </div>
                  </div>
                
                <button class="btn btn-secondary">Update Profile</button>
            </form>
        </div>
    </div>
</body>